@font-face {
	font-family: Lucidagrande_bold;
	font-display: swap;
	src:
		url("../fonts/lucidagrande_bold.woff2") format("woff2"),
		url("../fonts/lucidagrande_bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
